.body {
    background-color: #e2eed8;
    font: normal normal 0.8rem Myriad Pro, Arial, sans-serif;
    color:rgb(119, 115, 124);
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    min-width: 500px;
    margin: auto;
}
.container {
    display: grid;
    margin: 5px 3px 5px 3px;
    grid-gap: 3px;
    grid-template-columns: 30% 50% 20%;
    grid-template-areas:
    'photo header header'
    'photo JuniorQC JuniorQC'
    'photo Experience Experience'
    'photo jobname period'
    'photo jobs jobs'
    'contacts_header jobs jobs'
    'contacts jobs jobs'
    'skills_header jobs jobs'
    'skills jobs jobs'
    'education_header jobs jobs'
    'education jobs jobs'
    'courses_header jobs jobs'
    'courses jobs jobs'
    }
.item {
    background-color: #ffffff;
    flex: 50%;
    text-align: left;
    border-radius: 5px;
}

.photo {
    grid-area: photo; 
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;    
    background-color: #e2eed8;
}
.header {
    grid-area: header; 
    padding-left: 10px; 
    font-size: 1.375rem; 
    font-weight: bold; 
    color:rgb(43, 42, 49);
    background-color: #e2eed8;
   }
.JuniorQC {
    grid-area: JuniorQC; 
    letter-spacing: .04rem;
    padding: 0.3rem 1rem 0 1rem;
    font-size: 1rem; 
    font-weight: bold; 
       background-color: #ffffff;
}
.Experience {
    grid-area: Experience;  
    padding: 0.3rem 1rem 0 1rem;
    letter-spacing: .04rem;
    font-size: 1.0625rem; 
    font-weight: bold; 
    }
.contacts {
    grid-area: contacts;
    background-color: #ffffff;;
}
.contacts_header {
    margin-top: 1rem;
    grid-area: contacts_header; 
    padding: 0.3rem;
    font-size: 1rem; 
    font-weight: bold; 
    text-align: center; 
   }
.skills_header{
    margin-top: 1rem;
    grid-area: skills_header; 
    padding: 0.3rem;
    font-size: 1rem; 
    font-weight: bold; 
    text-align: center; 
   }
.skills{
    grid-area: skills;
    background-color:#ffffff;
}
.jobs{
    padding-right: 10px;
    padding: 0.3rem 1rem 0 0;
    grid-area: jobs; 
    display: inside; 
    justify-content: left;
    
}
.j{
    padding-right: 10px;
    padding: 0.3rem 1rem 0 0;
    grid-area: j; 
    display: inside; 
    justify-content: left;
}
.education_header{
    grid-area: education_header; 
    margin-top: 1rem;
    padding: 0.3rem 1rem 0 0;
    font-size: 1rem; 
    font-weight: bold;
    text-align: center; 
   }
.education{
    grid-area: education;
    background-color:#ffffff;;
}
.courses{
    grid-area: courses;
    background-color:#ffffff;;
}
.courses_header  {
    grid-area: courses_header; 
    padding: 0.3rem;
    margin-top: 1rem;
    font-size: 1rem; 
    font-weight: bold;
    text-align: center; 
   }
.jobname {
    grid-area: jobname;
    padding: 0.5rem; 
    padding-left: 1rem;
    padding-bottom: 0.5rem; 
    margin-bottom: -2px; 
    font-size: 0.9375rem; 
    font-weight: bold;     
   }
.period {
    grid-area: period;
    text-align: center; 
    padding: 0.5rem; 
    padding-left: 1rem;
    padding-bottom: 0.5rem; 
    margin-bottom: -2px; 
    font-size: 0.9375rem; 
    font-weight: bold; 
}
.job {display: flex; 
    justify-content: left;
}

img {
    border-radius: 50%;
}

a {
    color: #28292b;
}

h1 { font: normal normal 0.87rem Myriad Pro, Arial, sans-serif;
    font-weight: bold; 
    letter-spacing: .001rem;
    text-align: left; 
    color:rgb(25, 22, 29);
}