.body {
    background-color: #a2b4a5;
}
.container {
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 
    'photo header header'
    'photo position position'
    'contacts jobs jobs'
    'about jobs jobs'
    'skills jobs jobs'
    'education jobs jobs'
    'ed_content jobs jobs'
    'courcontent jobs jobs'
    'courses jobs jobs';
}
.item {
    background-color: #868b91;
    text-align: left;
    boarder-radius: 15px;
}

.photo  {grid-area: photo;}
.header {grid-area: header;}
.position {grid-area: position}
.contacts {grid-area: contacts}
.about {grid-area: about;}
.skills{grid-area: skills;}
.jobs{grid-area: jobs;}
.education{grid-area: education;}
.ed_content {grid-area: ed_content}
.courses{grid-area: courses}
.courcontent{grid-area: courcontent}

.img {
    border-radius: 75%;
    width: 200px;
}